/* common shared style */
body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  background: #fd6e0a;
  padding: 15px 35px;
  border: none;
}

/* nav related style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}
nav li {
  color: #474747;
  font-size: 20px;
  font-weight: 400;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
}
